* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}

.row-wrapper {
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    /* width: 100%; */
    height: 65px;
    background-color: #fff;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-items: left;
    align-items: center;
    height: 100%;
}

.digital-ocean-logo {
    height: 30px;
    object-fit: contain;
}

.header-navigation {
    color: #1f3560;
    font-family: 'Inter-Medium','Helvetica','san-serif';
    font-weight: 600;
}

.header-navigation li {
    display: inline;
    margin-right: 7px;
}

.header-navigation-center {
    justify-self: center;
}

.header-navigation-right {
    justify-self: right;
}

.header-menu-down-chevron {
    width: 25px;
    transform: translateY(7px);
}

.sign-up-button {
    color: #2882ff;
    border: 2px solid #2882ff;
    border-radius: 4px;
    padding: 9px;

}

.sign-up-form-container {
    background-image: url(DigitalOcean-Assets/img/sign-up-form-background.png);
    background-color: #004AFF;
    height: 500px;
    /* width: 100%; */
}

.sign-up-form-section {
    display: grid;
    grid-template-columns: 650px 450px;
    font-family: 'Inter-Bold','Helvetica','san-serif';
    gap: 35px;
    height: 100%;
}

.sign-up-form-section article {
    align-self: center;
}

.sign-up-form-section h2 {
    color: #fff;
    font-size: 65px;
    line-height: 110%;
    margin-bottom: 15px;
}

.sign-up-form-section p {
    color: #b9ccff;
    font-size: 21px;
    font-weight: 600;
    line-height: 140%;
}

.sign-up-form-section section {
    width: 100%;
    height: 100%;
    max-height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    /* padding: 40px 18px 29px 18px; */
}
.sign-up-form-section section h3 {
    font-size: 14px;
}

