* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}

.row-wrapper {
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    height: 65px;
    background-color: #fff;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-items: left;
    align-items: center;
    height: 100%;
}

.digital-ocean-logo {
    height: 30px;
    object-fit: contain;
}

.header-navigation {
    color: #1f3560;
    font-family: 'Inter-Medium','Helvetica','san-serif';
    font-weight: 600;
    justify-self: center;
}

.header-navigation li {
    display: inline;
    margin-right: 7px;
}

.header-menu-down-chevron {
    width: 25px;
    transform: translateY(7px);
}

.sign-up-button {
    color: #2882ff;
    border: 2px solid #2882ff;
    border-radius: 4px;
    padding: 9px;

}

.sign-up-form-section-container {
    background-image: url(DigitalOcean-Assets/img/sign-up-form-background.png);
    background-color: #004AFF;
    height: 500px;
    /* width: 100%; */
}

.sign-up-form-section {
    display: grid;
    grid-template-columns: 650px 450px;
    font-family: 'Inter-Bold','Helvetica','san-serif';
    gap: 35px;
    height: 100%;
}

.sign-up-form-section article {
    align-self: center;
}

.sign-up-form-section h2 {
    color: #fff;
    font-size: 65px;
    line-height: 110%;
    margin-bottom: 15px;
}

.sign-up-form-section p {
    color: #b9ccff;
    font-size: 21px;
    font-weight: 600;
    line-height: 140%;
}

.sign-up-form-section section {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.sign-up-form {
    padding: 20px;
}

.sign-up-form-section section h3 {
    font-size: 27px;
    margin-bottom: 10px;
}

.sign-up-form-header-1 {
    color: #152b59;
}

.sign-up-form-header-2 {
    color: #006aff;
}

.sign-up-form form {
    display: grid;
    gap: 15px;
}

.sign-up-form input {
    border: 1px solid #f3f3f3;
    border-radius: 6px;
    height: 40px;
    padding: 4px;
    font-weight: 500;
    font-size: 17px;
}

.sign-up-form button {
    height: 30px;
    border-radius: 6px;
    border: none;
}

.sign-up-form button p {
    font-size: 13px;
}

.native-sign-up-button {
    background-color: #579aff;
}

.native-sign-up-button p {
    color: #fff;
}

.google-sign-up-button {
    position: relative;
    display: grid;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #c9c8c8;
}

.google-sign-up-button svg {
    position: absolute;
    left: 10px;
}

.google-sign-up-button p {
    color: #707070;
}

#sign-up-terms-and-conditions {
    font-size: 11px;
    color: #132a58;
}

#sign-up-terms-and-conditions a {
    color: #4691ff;
}

.testimonial-section {
    background-color: #ff5641;
    height: 250px;
    display: grid;
    place-items: center;
    gap: 14px;
    font-family: 'Inter-Bold','Helvetica','san-serif';
    background-color: #f3f5f9;
}

.testimonial-section h3 {
    text-transform: uppercase;
    font-size: 15px;
    color: #77829d;
}

.logo-list {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.testimonial-section .logo {
    height: 50px;
}

.testimonial-section p {
    color: #2681fd;
    font-weight: 600;
}

